<!--<mat-radio-group aria-label="Select an option">
    <mat-radio-button ng-value="true" value="Mongo">Mongo DB</mat-radio-button>
    <mat-radio-button value="SQL">Azure SQL DB</mat-radio-button>
</mat-radio-group>-->

<mat-radio-group class="tp-radio-group" [(ngModel)]="selectedConnection">
    <mat-radio-button class="tp-radio-button"
                      *ngFor="let connectionType of connectionTypes" [value]="connectionType" (change)="onItemChange(selectedConnection)">
        {{connectionType}}
    </mat-radio-button>
</mat-radio-group>

<div class="tp-selected-value">
    Selected Season: {{selectedConnection}}
</div>