<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                <a [routerLink]='["/Home"]' class="nav-link" (click)='collapse()'>
                    <span class='fas fa-home'></span>Home</a>
            </li>
            <li class="nav-item" [routerLinkActive]='["link-active"]'>
                <a [routerLink]='["/PartHistory"]' class="nav-link" (click)='collapse()'>
                    <span class='fas fa-sort-amount-up'></span>Part History</a>
            </li>


            <li class="nav-item dropdown" [routerLinkActive]='["link-active"]'>
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class='fas fa-file'></span>Reports</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]='["/trend-browser"]'>Trend Data</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]='["/FailureReport"]'>Failure Report</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]='["/FirstTimeYield"]'>First Time Yield</a>
                </div>
            </li>
            <li class="nav-item" [routerLinkActive]='["link-active"]'>
                <a [routerLink]='["/AdminTools"]' class="nav-link" (click)='collapse()'>
                    <span class='fas fa-user-shield'></span>Admin Tools
                </a>
            </li>
            <li *ngIf="authService.isLoggedIn()" class="nav-item" [routerLinkActive]='["link-active"]'>
                <a [routerLink]='["/Login"]' class="nav-link" (click)="authService.logout()">Logout</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

</nav>
