<div class="container-fluid">
  <br/>
  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <p class="font-weight-bold">Quickly and easily gain insight into your production processes</p>• Generate powerful reports in seconds instead of hours<br /><br />• Provide visibility to all levels within the organization
      <br /><br />• Drill down from high level summaries to complete, individual part history in three clicks
    </div>
    <div class="col-lg-4 col-sm-6">
      <p class="font-weight-bold">Create your own personal dashboards to instantly track the KPIs that matter most to you</p>• Configure once, then get the latest data each time you refresh your web page<br /><br />• At-a-glance reports provide instant feedback on critical metrics,
      with Red, Yellow, Green zones to indicate when KPIs are in line with targets<br /><br />• Track first time yield, throughput, scrap and more<br /><br />• Identify top failure modes, underperforming stations
    </div>
   <div class="col-lg-4 col-sm-12"><img class="img-fluid float-right" [src]="img1" alt="Responsive image" /></div>
  </div>
  <br/>
  <div class="row">
    <div class="col-lg-4 col-sm-12"><img class="img-fluid float-right" [src]="img2" alt="Responsive image" /></div>
    <div class="col-lg-4 col-sm-6">
      <p class="font-weight-bold">Quickly drill into details using comprehensive library of production reports</p>• Manage your production line proactively, instead of reactively<br /><br />• Accurately monitor production line performance, driving continuous process improvement<br /><br />•
      Track first time yield, throughput, scrap and more<br /><br />• Maximize yields by quickly identifying the cause of bottlenecks in manufacturing processes
    </div>
    <div class="col-lg-4 col-sm-6">
      <p class="font-weight-bold">Create your own charts and analysis to track custom metrics </p>• Create mathematical formulas to calculate your own custom production metrics<br /><br />• Chart the results using bar charts, pie charts, histograms, 3D line charts and more<br /><br />•
      Share reports with colleagues by saving definition files or exporting to PDF, Excel<br /><br />• Manage library of reports using Report Manager to list, edit, delete, or launch reports directly
    </div>
  </div>
</div>
