<h2>Hey {{name}}</h2>
<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-teal" style="height:100vh; background-size: cover;">
    <div class="container-fluid">
        <div class="row  justify-content-center align-items-center d-flex text-center h-100">
            <div class="col-12 col-md-8  h-50 ">
                <h1 class="display-2  text-light mb-2 mt-5"><strong>Quality Dashboard</strong> </h1>
                <p class="lead  text-light mb-5">
                    Easy-to-use reporting platform for production and quality
                    management
                </p>
                <p><a href="" class="btn bg-light btn-round ft-teal btn-lg btn-rised">Get Started Now ></a></p>

                <div class="btn-container-wrapper p-relative d-block  zindex-1">
                    <a class="btn btn-link btn-lg   mt-md-3 mb-4 scroll align-self-center text-light" href="">
                        <i class="fa fa-angle-down fa-4x text-light"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="container-fluid">

    <div class="row content">
        <div class="col-lg-4 col-sm-6">
            <h4 class="ft-red">Quickly and easily gain insight into your production processes</h4>
            • Generate powerful reports in seconds instead of hours
            <br /><br />
            • Provide visibility to all levels within the organization
            <br /><br />
            • Drill down from high level summaries to complete, individual part history in three clicks
        </div>
        <div class="col-lg-4 col-sm-6">
            <h4 class="ft-red"> Create your own personal dashboards to instantly track the KPIs that matter most to you</h4>
            • Configure once, then get the latest data each time you refresh your web page
            <br /><br />
            • At-a-glance reports provide instant feedback on critical metrics
            <br /><br />
            • Track first time yield, throughput, scrap and more
            <br /><br />
            • Identify top failure modes, underperforming stations
        </div>
        <div class="col-lg-4 col-sm-12"><img class="img-fluid float-right" [src]="img1" alt="Responsive image" /></div>
    </div>
    <div class="row content">
        <div class="col-lg-4 col-sm-12"><img class="img-fluid float-right" [src]="img2" alt="Responsive image" /></div>
        <div class="col-lg-4 col-sm-6">
            <h4 class="ft-red">
                Quickly drill into details using comprehensive library of production reports
            </h4>
            • Manage your production line proactively, instead of reactively
            <br /><br />
            • Accurately monitor production line performance, driving continuous process improvement
            <br /><br />
            • Track first time yield, throughput, scrap and more<br /><br />• Maximize yields by quickly identifying the cause of bottlenecks in manufacturing processes
        </div>
        <div class="col-lg-4 col-sm-6">
            <h4 class="ft-red">
                Create your own charts and analysis to track custom metrics
            </h4>• Create mathematical formulas to calculate your own custom production metrics<br /><br />• Chart the results using bar charts, pie charts, histograms, 3D line charts and more<br /><br />•
            Share reports with colleagues by saving definition files or exporting to PDF, Excel<br /><br />• Manage library of reports using Report Manager to list, edit, delete, or launch reports directly
        </div>
    </div>
</div>
