<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <mat-form-field appearance="outline">
                <input #userEmail required matInput placeholder="Username" />
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <mat-form-field appearance="outline">
                <input #userPassword required matInput placeholder="Password" />
            </mat-form-field>
        </div>
    </div>
    <div class=row>
        <div class="col-sm-12">
            <button mat-raised-button (click) ="authService.login(userEmail.value, userPassword.value)">Sign In</button>
            <button mat-raised-button [routerLink]='["/FailureReport"]'>Sign Up</button>
        </div>
    </div>

</div>