<div class="wrapper">
    <div class="formContent">

        <!-- Login Form -->
        <form>
            <div class="row pt-3">
                <div class="col">
                   <i class="fas fa-users fa-7x"></i>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <input #userEmail required matInput placeholder="Email" />
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <input #userPassword required matInput type="password" placeholder="Password" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col">
                    <button mat-raised-button (click)="authService.loginEmail(userEmail.value, userPassword.value)"><i class="far fa-envelope"></i> Loginin With Email</button>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col">
                    <button mat-raised-button (click)="authService.loginGoogle()"> <i class="fab fa-google-plus-g"></i> Login With Google </button>
                </div>
            </div>
        </form>

        <div class="formFooter">
            <div class="row pb-3">
                <div class="col">
                    <a class="underlineHover" routerLink="/" routerLinkActive="active">Forgot Password?</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="underlineHover" routerLink="/Registration" routerLinkActive="active">No account? <strong>Create one here</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>
