<form>
    <h2>Sign up</h2>
    <div class="form-group">
        <mat-form-field appearance="outline">
            <input #userEmail required matInput placeholder="Username" />
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance="outline">
            <input #userPassword required matInput placeholder="Password" />
        </mat-form-field>
    </div>
    <div class="form-group">
        <div class="form-group">
            <button mat-raised-button (click)="authService.register()">Sign Up</button>
        </div>
    </div>
</form>